.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	align-items: center;
	justify-content: space-between;
	padding: 18px;
	margin: 18px;
	border-radius: 5px;
	box-shadow: 0px 6px 4px;
	width: 400px;
	text-align: center;

}

.card img {
	width: 150px;
	height: 150px;
	border-radius: 50%;

}

.card p {
	color:white;
	font-family: varela round,sans-serif;
}

.card a {
	text-decoration: underline;
}